<!-- html -->
<!-- head -->
<%- include('./partials/head.ejs') %>
<!-- /head -->
  <!-- body -->
  <!-- header -->
  <%- include('./partials/header.ejs') %>

  <!-- content -->

  <section class="content">
    <form action="/tools/calc" method="post">
      <label for="num1">Number 1</label>
      <input type="number" name="num1" id="num1">
      <label for="num2">Number 2</label>
      <input type="number" name="num2" id="num2">
      
      <input type="date" id="dob" name="dob"
       value="1999-04-01"
       min="1945-01-01" max="2024-12-31">
      
       <button type="submit">
        Calculate it!
      </button>

      <form action="/tools/calc" method="post">
      </form>






    </form>

  </section>

  <!-- /content -->

  <!-- footer -->
<%- include('./partials/footer.ejs') %>
  <!-- /body -->
<!-- /html -->